<!-- budget-table.handlebars -->
    <div>
      <table id="budgetTable" class="table-fixed w-full">
             <tbody>
                 <tr class="pb-5 text-left text-gray-400 w-1/5">
                     <td class="py-2 w-3/5">Income</td>
                     <td class="text-right"></td>
                 </tr>
                 <tr class="pb-2 text-left text-gray-400 w-1/5">
                     <td class="py-2 w-3/5">Expenses</td>
                     <td class="text-right"></td>
                 </tr>
                 <tr class=" text-left text-gray-400 w-1/5">
                     <td class="py-2 w-3/5">Goals</td>
                     <td class="text-right"></td>
                 </tr>
                 <tr class=" border-t-2 border-gray-700 text-left text-gray-300 w-1/5">
                     <td class="py-2 w-3/5">Remaining</td>
                     <td class="text-right"></td>
                 </tr>
             </tbody>
         </table>
     </div>