<div id="budget-chart-container" class="w-full relative">
     <canvas id="expensePieChart" width="100" height="100"></canvas>

    <script>
      // Get the canvas element
      const expensePieChart_ctx = document.getElementById("expensePieChart").getContext("2d");

      const expensePieChartData = {{{json this}}};

      // Create the doughnut chart
      new Chart(expensePieChart_ctx, {
        type: "doughnut",
        data: {
          labels: expensePieChartData.labels,
          datasets: [
            {
              data: expensePieChartData.data,
              backgroundColor: ["#d53369", "#daae51", "#D97560"],
            },
          ],
        },
        options: {
          cutout: "50%", // Adjust the hole size
        },
      });
    </script>
</div>