<div id="budget-chart-container" class="w-full relative">
     <canvas id="myDoughnutChart" width="100" height="100"></canvas>

    <script>
      // Get the canvas element
      const ctx = document.getElementById("myDoughnutChart").getContext("2d");

      const { labels, data } = {{{json this}}};

      // Create the doughnut chart
      new Chart(ctx, {
        type: "doughnut",
        data: {
          labels,
          datasets: [
            {
              data,
              backgroundColor: ["#d53369", "#daae51", "#D97560"],
            },
          ],
        },
        options: {
          cutout: "50%", // Adjust the hole size
        },
      });
    </script>
</div>