<div class=" p-6 flex">  
  {{!-- Card Body --}}
  <div class=" bg-gray-800 rounded-lg shadow-xl w-full">
      {{!-- Card Header Info (Money Left, Title, Contribute Button, and Edit) --}}
      <div class="p-6 flex justify-between text-gray-200">
          {{!-- Left Side Header --}}
          <div class="flex flex-col items-start">
              <div id="goalLeft_{{{cleanId id}}}" class="px-3 py-1 mb-2  bg-gray-700 border-gray-400 text-gray-300 rounded-full text-xl">Amount Left</div>
              <h3 id="goalName_{{{cleanId id}}}" class="tracking-wider text-left text-3xl">Title</h3>
          </div>

          <div class="flex flex-col items-end">
              <button class="mb-2 px-4 py-2 sidebar rounded">Contribute to Goal</button>
              <div class="in-line">
                <button class="px-1 fas fa-edit edit-button text-gray-500 hover:text-gray-200 transition ease-in-out"></button>
              <button class="px-1 fas fa-trash delete-button text-gray-500 hover:text-red-900 transition ease-in-out"></button>
              </div>
          </div>

      </div>
      {{!-- Chart Portion --}}
      <div class="flex h-64 p-6">
           <div>
      <canvas id="goalProgressBar_{{{cleanId id}}}" width="400" height="100"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      var goalInfo = {{{json this}}};
      var chartName = `goalProgressBar_${goalInfo.id.split("-").join("")}`

      this[`${chartName}_ctx`] = document.getElementById(chartName);

      document.getElementById(`goalName_${goalInfo.id.split("-").join("")}`).textContent = goalInfo.name;
      document.getElementById(`goalLeft_${goalInfo.id.split("-").join("")}`).textContent = goalInfo.remaining;

      new Chart(this[`${chartName}_ctx`], {
        type: "bar",
        data: {
          labels: [""],
          datasets: [
            {
              label: goalInfo.name,
              data: [goalInfo.amount, goalInfo.desiredAmount],
              borderColor: "red",
              backgroundColor: "red",
              borderWidth: 2,
              borderRadius: 100,
              borderSkipped: 'false',
            },
          ],
        },
        options: {
          indexAxis: "y",
          scales: {
            x: {
              barPercentage: 0.4,
              ticks: {
                // Include a dollar sign in the ticks
                callback: function (value, index, ticks) {
                  return "$" + value;
                },
              },
            },
          },
          plugins: {
            legend: {
              display: false,
            },
          },
        },
      });
    </script>
      </div>
      
  </div>
</div>
