<div class=" pt-6  flex">  
  {{!-- Card Body --}}
  <div class=" bg-gray-800 rounded-lg shadow-xl w-full">
      {{!-- Card Header Info (Money Left, Title, Contribute Button, and Edit) --}}
      <div class="p-6 flex justify-between text-gray-200">
          {{!-- Left Side Header --}}
          <div class="flex flex-col items-start">
                    {{!--    vvv   id to connect the remaining money left for the goal --}}
              <div id="{{desired_amount}}" class="px-3 py-1 mb-2  bg-gray-700 border-gray-400 text-gray-300 rounded-full text-xl"></div>
                                                      {{!--      vvv     I added this for the name, change if it isn't correct  --}}
              <h3 class="tracking-wider text-left text-3xl">{{name}}</h3>
          </div>

          <div class="flex flex-col items-end">
              <a class="mb-2 px-4 py-2 sidebar  rounded">Contribute to Goal</a>
              {{!--    vvv   id to connect Edit Button --}}                                                     {{!--    vvv   id to connect Delete Button --}}
              <a id="goalsEdit" class="mb-2 text-gray-400">Edit</a><span class="mb-2 text-gray-400"> | </span><a id="goalsDelete" class="mb-2 text-gray-400">Delete</a>
          </div>

      </div>
      {{!-- Chart Portion --}}
      <div class=" p-6">
          <div id="goals-chart-container" class="w-full relative">
              <canvas id="myChart" width="400" height="400"></canvas>
            <script>
                const ctx = document.getElementById('myChart').getContext('2d');
                const chart = new Chart(ctx, {
                    type: '{{chartType}}',
                    data: {{{chartData}}}
                });
            </script>
          </div>
      </div>
      
  </div>
</div>
