<div id="monthly-chart-container" class="w-full relative">
    <canvas id="monthlyOverviewChart" width="400" height="400"></canvas>

    <script>
      // Get the canvas element
      const monthlyOverviewChart_ctx = document.getElementById("monthlyOverviewChart").getContext("2d");

      const monthlyExpenses = {{{json this}}};

      // Expense data for the last 5 months
      const expenses = [500, 700, 600, 800, 900];
      const months = ["January", "February", "March", "April", "May"];

      // Create the bar graph
      new Chart(monthlyOverviewChart_ctx, {
        type: "bar",
        data: {
          labels: monthlyExpenses.labels,
          datasets: [
            {
              label: "Expenses",
              data: monthlyExpenses.data,
              backgroundColor: ["#d53369", "#daae51", "#D97560"],
              borderWidth: 0, 
              borderRadius: 10,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    </script>
</div>