<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WalletWizard - Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class=" bg-gray-800 font-sans leading-normal tracking-normal mt-12">
    <main>
        <div class="flex flex-col md:flex-row">
            <nav class="w-full md:w-80">
                <div class="md:mt-12 md:w-80 md:fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between">
                    {{!-- Logo --}}
                    <div class="p-4 flex items-center justify-start mb-4">
                        <img class="w-24" src="/images/chicken-gradient.png" alt="Logo">
                    </div>
                    {{!-- Navigation --}}
                    <div class="m-3 p-3 md:py-3 px-1 md:px-2 text-center md:text-left">
                        <ul class="md:px-4 list-reset flex flex-row md:flex-col">
                            <li class="mr-3 flex-1">
                                <a href="/overview" class="block py-1 md:p-4 pl-1 align-middle rounded-lg text-white md:text-xl no-underline bg-gradient-to-r from-gray-800 to-gray-800 hover:from-gray-600 hover:to-gray-600 hover:text-white-100">
                                    <i class="fas fa-tasks pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-xl text-gray-400 md:text-gray-200 block md:inline-block">Overview</span>
                                </a>
                            </li>
                            <li class="mr-3 flex-1">
                                <a href="/goals" class="block py-1 md:p-4 pl-1 align-middle rounded-lg text-white md:text-xl no-underline bg-gradient-to-r from-gray-800 to-gray-800 hover:from-gray-600 hover:to-gray-600 hover:text-white-100 border-b-2 border-gray-800">
                                    <i class="fa fa-envelope pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-xl text-gray-400 md:text-gray-200 block md:inline-block">Goals</span>
                                </a>
                            </li>
                            <li class="mr-3 flex-1">
                                <a href="/budget" class="block p-1 md:p-4 pl-1 align-middle rounded-lg text-white text-xs md:text-xl no-underline bg-gradient-to-r from-gray-800 to-gray-800 hover:from-gray-600 hover:to-gray-600 hover:text-white-100 border-b-2 border-gray-800">
                                    <i class="fas fa-chart-area pr-0 md:pr-3"></i>Budget
                                </a>
                            </li>
                            <br>
                            <li class="mr-3 flex-1 border-t border-gray-600">
                                <button id="logout" class="block p-1 md:p-4 pl-1 align-middle rounded-lg text-white text-xs md:text-xl no-underline bg-gradient-to-r from-gray-800 to-gray-800 hover:from-gray-600 hover:to-gray-600 hover:text-white-100 border-b-2 border-gray-800">
                                    <i class="fas fa-arrow-left pr-0 md:pr-3"></i>Logout
                                </button>
                                <script src="/js/logout.js"></script>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="flex flex-col w-full" >
                {{{ body }}}
            </div>
        </div>
    </main>
    <script src="/js/dropdown.js"></script>
</body>
</html>
