<section>
    <div class="main-content flex-1 bg-gray-700 mx-10 mb-10 pb-24 md:pb-5 rounded-2xl bg-gray-700">

        <h1 class="rounded-t-3xl pl-12 pt-12 text-5xl text-gray-100">Budget</h1>

        {{!-- Budget Tables --}}
        <div class="p-6 flex flex-col bg-gray-700">
            <div class="flex flex-col w-2/3">
                {{> table-card data=incomeData name="Income" tableName="income"}}
                {{> table-card data=expenseData name="Expenses" tableName="expense"}}
                {{> table-card data=goalData name="Goals" tableName="goal"}}
            </div>
        </div>

        {{!-- Net Budget --}}
        <div class="fixed right-16 top-56 w-1/4">
            <div class="p-6 flex w-full h-80">
                <div class="bg-gray-800 border-transparent rounded-lg shadow-xl w-full">
                    <h3 class="p-6 tracking-wider uppercase text-left text-gray-200">Your Budget</h3>
                    <div class="p-6">
                        {{> net-budget-table }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- Modals --}}
{{> budget-modal name="add" title="Add New Entry" action="Add" }}
{{> budget-modal name="edit" title="Edit Entry" action="Update" }}

{{!-- Budget Script --}}
<script src="/js/budget.js"></script>