<div class="flex-1 p-4 flex flex-col">
  <div class="flex items-center justify-center mt-18">
    <h2 class="text-lg font-semibold">Hello!</h2>
  </div>
  <div class="chart-area h-1/3 w-4/5 flex mt-10">
    <div class="w-3/5 pr-4">
      <h2 class="text-lg font-semibold mb-2">Large Chart</h2>
      <p>This is the content for the large chart.</p>
    </div>
  </div>
  <div class="chart-area h-1/3 w-4/5 flex mt-10">
  {{!-- Income table --}}
  </div>
  <div class="chart-area h-1/3 w-4/5 h-1/4 flex mt-10">
    <div class="w-3/5 pr-4">
      <h2 class="text-lg font-semibold mb-2">Large Chart</h2>
      <p>This is the content for the large chart.</p>
    </div>
  </div>
</div>
<div class="chart-area h-4/5 w-1/5 flex mt-24 mr-10">
  <!-- Adjusted margin -->
  <div class="w-3/5 pr-4">
    <h2 class="text-lg font-semibold mb-2">Long Chart</h2>
    <p>This is the content for the large chart.</p>
  </div>
</div>