<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <style>
        .sidebar {
            background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
        }
        .chart-area {
            background-color: #f3f4f6;
        }
    </style>
</head>
<body class="bg-gray-400">
    <div class="flex">
        <!-- Sidebar -->
        <div class="sidebar w-1/4 h-screen text-white">
            <div class="p-4">
                <!-- Logo -->
                <div class="flex items-center justify-center mb-4">
                    <img src="./chicken.png" alt="Logo">
                </div>
                <h2 class="text-2xl font-semibold">Dashboard</h2>
            </div>
            <ul class="p-2">
                <li class="mb-2"><a href="#" class="block p-2 hover:bg-white hover:text-black transition">Overview</a></li>
                <li class="mb-2"><a href="#" class="block p-2 hover:bg-white hover:text-black transition">Goals</a></li>
                <li class="mb-2"><a href="#" class="block p-2 hover:bg-white hover:text-black transition">Budget</a></li>
                <li class="mb-2"><a href="#" class="block p-2 hover:bg-white hover:text-black transition">Settings</a></li>
            </ul>
        </div>
        
        <!-- Content -->
       <div class="flex flex-col w-full" >
            <div class="flex-1 p-4 flex flex-row">
            <!-- Large Chart and Small Charts Container -->
                <div class="chart-area h-4/5 w-1/2 flex mt-10 ">
                    <div class="w-3/5 pr-4">
                    <h2 class="text-lg font-semibold mb-2">Large Chart</h2>
                    <p>This is the content for the large chart.</p>
                    </div>
                </div>
                <div class="w-2/3 flex flex-col space-y-8 ml-8 mt-10">
                    <div class="chart-area h-2/5">
                        <h2 class="text-lg font-semibold mb-2">Small Chart 1</h2>
                        <p>This is the content for small chart 1.</p>
                    </div>
                    <div class="chart-area h-2/5">
                        <h2 class="text-lg font-semibold mb-2">Small Chart 2</h2>
                        <p>This is the content for small chart 2.</p>
                    </div>
                </div>
            </div>
            <!-- Wide Chart -->
            <div class="h-1/4 ml-4 mr-4 mt-0">
                <div class="chart-area h-4/5 ">
                 <h2 class="text-lg font-semibold mb-2">Wide Chart</h2>
                 <p>This is the content for the wide chart.</p>
                </div>
            </div>
        </div>
    
    </div>
</div>
</body>
</html>
