     <section>
        <div id="main" class=" main-content flex-1 bg-gray-700 mx-10 mb-10 pb-24 md:pb-5 rounded-2xl bg-gray-700">

            {{!-- Title Container --}}
                <h1 class=" rounded-t-3xl pl-12 pt-12 text-5xl text-gray-100">Overview</h1>


           {{!-- Content Container --}}
            <div class="p-6 flex flex-col bg-gray-700">

                {{!-- top portion --}}
                <div class=" flex">

                    {{!-- Content Card 1 --}}
                    <div class="p-6 flex w-3/5">
                        <div class=" bg-gray-800 rounded-lg shadow-xl w-full">
                            <h3 class="p-6 tracking-wider uppercase text-left text-gray-200">Budget</h3>
                           <div class=" p-6">
                                {{#with expenseData}}
                                    {{> budget-overview-chart this}}
                                {{/with}}
                            </div>
                        </div>
                    </div>

                    {{!-- side portion --}}
                    <div class="flex flex-col w-2/5">

                        {{!-- Content Card 2 --}}
                        <div class=" p-6  flex">
                             <div class=" bg-gray-800 rounded-lg shadow-xl w-full">
                            <h3 class="p-6 tracking-wider uppercase text-left text-gray-200">Monthly Comparison</h3>
                           <div class=" p-6">
                                {{#with expenseData}}
                                    {{> monthly-overview-chart this}}
                                {{/with}}
                            </div>
                        </div>
                        </div>

                        {{!-- Content Card 3 --}}
                        <div class=" p-6  flex">
                            <div class=" bg-gray-800 rounded-lg shadow-xl w-full">
                                <h3 class="p-6 tracking-wider uppercase text-left text-gray-200">Spending Habits</h3>
                                <div class=" p-6">
                                {{!-- {{> habits-overview-chart}} --}}
                                </div>
                            </div>
                        </div>
                     {{!-- top portion closer --}}
                    </div>
                </div>  

                {{!- bottom Side }}

                {{!-- Content Card 4 --}}
                <div class=" p-6 flex">
                    <div class=" bg-gray-800 border-transparent rounded-lg shadow-xl w-full">
                        <div class=" bg-gray-800 rounded-lg shadow-xl w-full">
                                <h3 class="p-6 tracking-wider uppercase text-left text-gray-200">Spending Habits</h3>
                                <div class=" p-6">
                                    {{!-- {{> goal-overview-chart}} --}}
                                </div>
                            </div>
                    </div>
                </div>

                {{!-- Content Container Closer --}}
            </div>

        </div>
    </section>